body {
    background-image: url("../../assets/images/Background.jpeg");
    font-style: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 10px;
}

h1 {
    color: white;
    background: orange;
    width: 250px;
    padding: 20px 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.intro {
    background: beige;
    color: #266f46;
    width: 500px;
    font-weight: bold;
    padding: 10px 10px;
}

#intro{
   margin-top: 15px; 
}

#random-number {
    background: lightgreen;
    color: purple;
    height: 70px;
    width: 200px;
    font-weight: bold;
    font-size: 32px;
    margin: 10px 0px;
    padding: 10px;
    float: left;
    
}

.wins-losses {
    background: cyan;
    margin: 10px;
    height: 90px;
    width: 80px;
    float:left;
}
#number-wins, #number-losses {
    padding: 10px;
}

.images {
    clear: both;
    
}
#gem1, #gem2, #gem3, #gem4 {
    border:2px solid #021a40;
    margin-right: 5px;
}

#score-text {
    background: #266f46;
    color: white;
    width: 200px;
    padding: 5px 10px;
    margin: 5px 0px;
}

#your-score {
    background: #266f46;
    color: white;
    width: 200px;
    padding: 10px;
    height: 70px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 32px;

}